<p>
  <strong>Id #:</strong>
  <%= @game_state.game.guid %>
</p>

<p>
  <b>Players:</b>
  <ul id="current-players">
    <% @game_state.siblings.each do |player_state| %>
      <li>
        <% if player_state.is_my_turn %>
          <span style="color: green;"><%= player_state.player.email %></span>
        <% else %>
          <span><%= player_state.player.email %></span>
        <% end %>
        <% if player_state.player.id == current_player.id %>
          <b> (me)</b>
          <% if player_state.is_my_turn %>
            <%= button_to 'End Turn', end_turn_path(@game_state) %>
          <% end %>
        <% end %>
        <% unless @game_state.game.has_started %>
          <% if player_state.is_ready %>
            <span style="color: green;"> Ready!</span>
          <% end %>
          <% if player_state.player.id == current_player.id && !player_state.is_ready %>
            <%= button_to 'Ready', ready_path(@game_state) %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<section id="game-state">
  <% if @game_state.game.has_started %>
    <!-- SCRAP FORM -->
    <p>
      <b>Take Scraps:</b>
      <%= render "scrap_holds/form", game_state: @game_state %>
    </p>

    <!-- BLUEPRINT FORM  -->
    <p>
      <b>Take Blueprints:</b>
      <%= render "blueprint_holds/form", game_state: @game_state %>
    </p>

    <!-- RAW MATERIALS -->
    <p id="player-materials" style="color: red;">
      <b>Raw Materials:</b>
      <%= @game_state[:raw] || 0 %>
    </p>

    <p>
      <%= form_tag("/game_states/#{@game_state.id}/discard_raw") do %>
        <%= token_tag nil %>
        <input type="number" name="raw_amount" min="0">
        <input type="submit" value="Discard Raw"></input>
      <% end %>
    </p>

    <!-- HELD SCRAPS -->
    <p style="color: gray;">
      <b>Held Scraps:</b>
      <ul id="held-scraps" style="color: gray;">
        <% if @game_state.scrap_holds.count > 0 %>
          <% @game_state.scrap_holds.each do |hold| %>
            <% if !!hold.scrap %>
              <li>
                <%= hold.scrap.name %>
                <%= button_to 'Sell', hold, method: :delete, params: { sell: true }  %>
                |
                <%= button_to 'Discard', hold, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            <% end %>
          <% end %>
        <% else %>
          No Held Scraps
        <% end %>
      </ul>
    <p>

      <!-- HELD BLUEPRINTS -->
      <p style="color: blue;">
        <b>Held Blueprints:</b>
        <ul id="held-blueprints" style="color: blue;">
          <% if @game_state.blueprint_holds.count > 0 %>
            <% @game_state.blueprint_holds.each do |hold| %>
              <% if !!hold.blueprint %>
                <li>
                  <%= hold.blueprint.name %>
                  <%= button_to 'Build', hold, method: :delete, params: { build: true } %>
                  |
                  <%= button_to 'Discard', hold, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
            <% end %>
          <% else %>
            No Held Blueprints
          <% end %>
        </ul>
      </p>

      <!-- HELD SCRAPPER MODULES -->
      <p style="color: green;">
        <b>Built Scrapper Modules:</b>
        <ul id="held-modules">
          <% if @game_state.module_holds.count > 0 %>
            <% @game_state.module_holds.each do |hold| %>
            <li><%= hold.scrapper_module.name %></li>
            <% end %>
          <% else %>
            No Built Modules
          <% end %>
        </ul>
      </p>
    <% else %>
      <ul>
        <li>Keep refreshing the page.</li>
        <li>Don't click ready until everyone is listed here!</li>
        <li>Then, refresh until you can see the UI.</li>
      </ul>
    <% end %>
  </section>

  <%= link_to 'Leave Game', game_state_path(@game_state), data: { confirm: 'Are you sure?' }, method: :delete %>
