<% if !@game_state.is_my_turn %>
  <script>
       var time = new Date().getTime();
       $(document.body).bind("mousemove keyup", function(e) {
           time = new Date().getTime();
       });

       function refresh() {
           if(new Date().getTime() - time >= 10000)
               document.location.reload();
           else
               setTimeout(refresh, 3000);
       }

       setTimeout(refresh, 3000);
  </script>
<% else %>
  <%= form_tag "/game_states/#{@game_state.id}/holds" do %>
    <div class="modal fade in" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="color: white; background: green;">
            <h4 class="modal-title">It's your turn! Add Cards...</h4>
          </div>
          <div class="modal-body">
             <input name="batch_ids" type="text" autofocus="true" placeholder="list ids here" style="font-size: 30px;" />
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Submit Cards & Pass Turn', class: 'btn btn-success' %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  <% end %>
<% end %>

<h1>
  <strong>Game #</strong> <%= @game_state.game.guid %>
</h1>

<nav style="float: right;">
  <a href="#sidebar">Show Game Log</a>
</nav>

<p>
  <h3>Players:</h3>
  <table id="current-players" width="100%">
    <% @game_state.siblings.each do |player_state| %>
      <tr width="100%">
        <td style="<%= player_state.is_my_turn ? 'color: green;' : '' %>">
          <span><%= player_state.player.email %></span>

          <% if player_state.player.id == current_player.id %>
              <b>(me)</b>
          <% end %>
        </td>

        <% if @game_state.game.has_started %>
          <td style="color: gray;">
            <%= player_state.contestant.name %>
          </td>
        <% end %>

        <td width="75">
          <% if !@game_state.game.has_started %>
            <% if player_state.is_ready %>
              <span style="color: green;">Ready!</span>
            <% end %>
            <% if player_state.player.id == current_player.id && !player_state.is_ready %>
              <%= form_for @game_state, method: :put do |f| %>
                <%= f.hidden_field :is_ready, value: true %>

                <%= collection_select :game_state, :contestant_id, Contestant.all, :id, :name, {disabled: -> (contestant) { @game_state.siblings.collect(&:contestant).include? contestant } } %>

                <%= f.submit 'Ready', class: 'btn btn-success' %>
              <% end %>
            <% end %>
          <% elsif player_state.player.id != current_player.id %>
            <%= button_to 'View Inventory/Trade', new_game_state_trade_path(player_state), method: :get %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</p>

<ul id="sidebar">
  <h2>Game Log:</h2>
  <a href="#">&times; Hide</a>
  <% @game_state.messages.each do |message| %>
    <li>
      <%= message.text %>
    </li>
  <% end %>
</ul>

<section id="game-state">
  <% if @game_state.game.has_started %>
    <!-- RAW MATERIALS -->
    <p id="player-materials" style="color: red;">
        <h3>
            Cash: $<%= @game_state[:raw] || 0 %>
        </h3>
    </p>

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Held Recipes (<%= @game_state.blueprint_holds.count %>)
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <table width="100%" id="held-blueprints" style="color: blue;">
                  <% if @game_state.blueprint_holds.count > 0 %>
                  <% @game_state.blueprint_holds.each do |hold| %>
                      <% if !!hold.blueprint %>
                        <tr>
                          <td>
                            <%= hold.blueprint.name.titleize %>
                          </td>
                              <td width="65">
                                <% if @game_state.contestant.eng_lvl >= hold.blueprint.rank %>
                                  <%= button_to 'Build', new_blueprint_hold_module_hold_path(hold), method: :get %>
                                <% else %>
                                  <span style="color: red;">Must Commission.</span>
                                <% end %>
                              </td>
                            <td width="65">
                              <%= button_to 'Pass', hold, method: :delete %>
                            </td>
                        </tr>
                      <% end %>
                    <% end %>
                <% else %>
                    No Held Blueprints
                  <% end %>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#heldScraps" aria-expanded="true" aria-controls="heldScraps">
                        Held Scraps (<%= @game_state.scrap_holds.count %>)
                    </a>
                </h4>
            </div>
            <div id="heldScraps" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <% if @game_state.scrap_holds.count > 0 %>
              <%# form_for @game_state.scrap_holds do |f| %>
                  <%= grid(@scraps_grid) do |g|
                    g.column do |hold|
                      # f.check_box hold, {multiple: true}
                      check_box hold, {multiple: true}
                    end

                    g.column name: "name", attribute: "name", assoc: :scrap do |hold|
                      hold.scrap.name
                    end

                    g.column name: "value", attribute: "value"  do |hold|
                      hold.value
                    end
                  end -%>
                  <%#= f.submit 'Sell Selected', method: :delete, params: { sell: true }, class: 'btn btn-success' %>
                  <%#= f.submit 'Discard Selected', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <%# end %>
              <% else %>
                No Held Scraps
              <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Held Guts (<%= @game_state.module_holds.count %>)
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <ul id="held-modules">
                  <% if @game_state.module_holds.count > 0 %>
                    <% @game_state.module_holds.each do |hold| %>
                      <li><%= hold.scrapper_module.name.titleize %></li>
                    <% end %>
                  <% else %>
                    No Guts
                  <% end %>
                </ul>
            </div>
        </div>

        <% if @game_state.actionable_trades.count > 0 %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tradeProposals" aria-expanded="false" aria-controls="tradeProposals">
                  Trade Proposals (<%= @game_state.actionable_trades.count %>)
                </a>
              </h4>
            </div>
            <div id="tradeProposals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <table id="trade-proposals" width="100%">
                <% @game_state.actionable_trades.each do |trade| %>
                  <tr width="100%">
                    <td>
                      <%= trade.other_player(current_player).email %>
                    </td>

                    <td width="75">
                      <%= link_to 'Review', trade_path(trade) %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
    </div>
  <% else %>
    <ul>
      <li>Keep refreshing the page.</li>
      <li>Don't click ready until everyone is listed here!</li>
      <li>Then, refresh until you can see the UI.</li>
    </ul>
  <% end %>
</section>

<%= button_to 'Leave Game', game_state_path(@game_state), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
