<h3>Choose Brew:</h3>

<%= form_for [@blueprint_hold, @module_hold] do |f| %>
  <% if @module_hold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@module_hold.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @module_hold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @build_options.length > 6 %>
      <%= render partial: 'option', locals: { build_option: @build_options[1], i: 0 } %>
      <%= render partial: 'option', locals: { build_option: @build_options[2], i: 1 } %>
      <%= render partial: 'option', locals: { build_option: @build_options[3], i: 2 } %>

      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="border:0;">
          <div class="panel-heading" role="tab" id="headingOne" style="background:none;">
            <h6 class="panel-title" style="font-size:13px;color:gray;">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false"
              href="#additionalBuilds" aria-controls="additionalBuilds" style="cursor:pointer;">
                ( click to expand <%= @build_options.length - 3 %> remaining additional builds )
              </a>
            </h6>
          </div>
          <div id="additionalBuilds" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

            <% @build_options[3..-1].each_with_index do |build_option, i| %>
              <%= render partial: 'option', locals: { build_option: build_option, i: (i + 2) } %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <% @build_options.each_with_index do |build_option, i| %>
        <%= render partial: 'option', locals: { build_option: build_option, i: i } %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
