<%= form_for [@game_state, @trade], url: game_state_trades_path do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table width="100%">
      <tr width="100%">
        <td width="50%" style="color:green;">
          <b><%= current_player.email %> (me)'s offer</b>
        </td>
        <td width="50%">
          <b>requesting <%= @trade.other_player(current_player).email %></b>
        </td>
      </tr>
      <tr width="100%">
      <% @most_scraps_on_the_table.times do |index| %>
        <tr width="100%">
          <td width="50%" style="color:green;">
            <% if @trade.this_player_scraps(current_player)[index] %>
              <%= f.check_box("trade_holds", { multiple: true }, @trade.this_player_scraps(current_player)[index].id) %>
              <%= f.label( @trade.this_player_scraps(current_player)[index].scrap.name) %>
            <% end %>
          </td>
          <td width="50%">
            <% if @trade.other_player_scraps(current_player)[index] %>
              <%= f.check_box("trade_holds", { multiple: true }, @trade.other_player_scraps(current_player)[index].id) %>
              <%= f.label( @trade.other_player_scraps(current_player)[index].scrap.name) %>
            <% end %>
          </td>
        </tr>
        <!-- , {checked: @trade.trade_holds.include?(@trade.this_player_scraps(current_player)[index].id }) -->
        <!-- , { checked: @trade.trade_holds.include?(@trade.other_player_scraps(current_player)[index].id }) -->
      <% end %>
      <tr width="100%">
        <td width="50%" style="color:green;">
          <b><%= f.label "offered cash" %>:</b>
          <br>
          <%= f.number_field :solicitor_raw_cost, input_html: { value: 0 }, min: 0, max: @current_player_state.raw %>
          <br />
          <span>Your Cash: $<%= @current_player_state.raw %></span>
        </td>
        <td width="50%">
          <b><%= f.label "requested cash" %>:</b>
          <br>
          <%= f.number_field :solicited_raw_cost, input_html: { value: 0 }, min: 0, max: @solicited_game_state.raw %>
          <br />
          <span>Their Cash: $<%= @solicited_game_state.raw %></span>
        </td>
      </tr>
    </table>
    <%= f.submit 'Propose' %>
  </div>
<% end %>
