<table>
  <tr>
    <td>
      <b>(me)</b>
    </td>
    <% if @trade[:scrap_hold_cost] %>
      <td>
        <%= ScrapHold.find(@trade[:scrap_hold_cost]).scrap.name %>
      </td>
    <% end %>
    <td>
      Raw Materials: <%= @trade.raw_cost %>
    </td>
  </tr>
  <tr>
    <td>
      Proposing Player: <b><%= @trade.proposing_player.email %></b>
    </td>
    <% if @trade[:proposing_player_scrap_hold_cost] %>
      <td>
        <%= ScrapHold.find(@trade[:proposing_player_scrap_hold_cost]).scrap.name %>
      </td>
    <% end %>
    <td>
      Raw Materials: <%= @trade.proposing_player_raw_cost %>
    </td>
  </tr>
</table>

<%= button_to 'Counter Offer', edit_trade_path(@trade) %>
<%= button_to 'Accept', trade_path(@trade), method: :put, params: { trade: { is_agreed: true } } %>
<%= button_to 'Decline', trade_path(@trade), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', game_state_path(@trade.game_state) %>
