<!DOCTYPE html>
<html>
<head>
  <title>ScrapyardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if player_signed_in? %>
  <%= link_to('Logout', destroy_player_session_path, method: :delete) %>
<% end %>

<% flash.each do |key, value| %>
  <% unless value.kind_of?(Array) %>
    <% value = [ value ] %>
  <% end %>

  <% value.each do |message| %>
    <% if key == "alert" %>
      <script>alert("<%= j message %>");</script>
    <% else %>
      <%= content_tag :div, message, class: "flash #{key}" %>
    <% end %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
