<!DOCTYPE html>
<html>
<head>
  <title>ScrapyardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if player_signed_in? %>
  <%= link_to('Logout', destroy_player_session_path, :method => :delete) %>
<% end %>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <script>alert("<%= value %>");</script>
  <% else %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
